* {
    box-sizing: border-box; 
}

body {
    font-family: sans-serif;
    color: #1b281b; 
    font-size: 1.25rem;
    line-height: 1.6;

}
p {
    margin-block: 25px; 
}


header {
    text-align: center;
}



h1 {
   color: #4676a9;
   font-family; sans-serif; 
   font-size: 5rem;
   line-height: 1.1;
   text-align: center;

}


h2 {
    color: #cb721c;
    text-align: left;
}

h3 {
    text-align: left;
}

p {
    text-align: left;
}

a {
    color:red;
}

ol {
    text-align:left; 
}

section {
    margin-block: 100px; 
}

.teal-text {
    color: #087a98; 
}

.teal-bg {
    color: #ffffff; 
    padding: 20px; 
    border: #0b4a5a solid 10px; 
    background-color: #087a98; 
}

a {
    color: #2b930b; 
}

a:hover, a:focus-visible {
    color: #7ee85e; 
}

.climber-bg {
  background-image: url ("../images/simple-steps.jpg"); 
    padding: 24px;
    border: #0b4a5a solid 10 px; 
}



footer {
   
    text-align: center; 
     
}

