
header {
    text-align: center;
}

h1 {
   color: #4676a9;
   text-align: center;
   font-family; gill sans; 

}

h2 {
    color: #cb721c;
}

footer {
    background-color: #22466c; 
    color: #ffffff;
}