* {
    box-sizing: border-box; 
}

body {
    font-family: sans-serif;
    color: #1b281b; 
    font-size: 1.25rem;
    line-height: 1.6;

}

img {
    max-inline-size: 100%; 

   
}

p {
    margin-block: 25px; 
}


header {
    text-align: center;
}



h1 {
   color: #4676a9;
   font-family; sans-serif; 
   font-size: 4.5 rem;
   line-height: 1.1;
   text-align: center;

   @media (width > 720px) {
        font-size: 7.5rem; 
   }

}


h2 {
    color: #cb721c;
    text-align: left;
}

h3 {
    text-align: left;
}

p {
    text-align: left;
}

a {
    color:red;
}

ol {
    text-align:left; 
}

section {
    margin-block: 100px; 
}

.teal-text {
    color: #087a98; 
}

.teal-bg {
    color: #ffffff; 
    padding: 0px; 
    border: #0b4a5a solid 10px; 
    background-color: #087a98; 
}

a {
    color: #2b930b; 
}

a:hover, a:focus-visible {
    color: #7ee85e; 
}

.climber-bg {
    color: #fff;
    background-image: url("../images/simple-steps.jpg"); 
    padding: 24px;
    border: #0b4a5a solid 10 px; 

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.primary-navigation ul {
    display: flex; 
    gap: 20px; 
    list-style: none; 
    margin: 0;
    padding: 0;
}

.primary-navigation a {
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible
{
    color: #2b930b; 
}

header {
    display:flex; 
    justify-content: space-between;
    gap: 20px: 
}



.wrapper {
    max-inline-size: 1000px; 
    margin-inline: auto; 
}

.two-column-layout {
    display: grid; 
    gap: 60px; 
    margin-block-end: 60px; 

    @media (width > 720px) {
        grid-template-columns: 1fr 1fr;
    }  
}


footer {
   
    text-align: center; 
     
}

