
body {
  font-family: sans-serif; 
  background-color: #ebdfd6;
  font-size: 1rem;
  line-height: 1.6;
  
}

p {
  margin-block: 20px;
}

ul {
  list-style: square;
  color: #5c4033;
}


header {
  text-align: center;
  
}

h1 {
    color: #e75480;
    text-align: center;
   line-height: 1.1;
   
}

h2 {
    color: #e75480;
    font-size: 2rem; 
    background: pink;
    inline-size: 350px: 
}

h3 {
  color: #e75480;
  font-size: 2rem;
  
}

p {
  color: #5c4033; 
  margin: 40px 100px 50px;

}

a {
  color: #e75480;
}

a:hover, a:focus-visible {
  color: purple
}

header {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.primary-navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px; 
  
}

.primary-navigation a {
  color: #5c4033; 
  font-weight: bold;
  text-decoration: none;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible
{
  color: #e75480;
}

footer {
  padding: 2px;
  text-align: center;
  background-color: #e75480;
  color: #fff;
  border: 10px pink solid; 

}

.first-bullet {
  color: #e75480;
  font-size: 1.5rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 
.menuoutline {
  border: #e75480 solid 10px;
  padding: 20px;
  
}



 
 